<div class="rightline-header">
  <div class="chatheader">
    <div class="chatname">
    <%= @room.name %>
    </div>
  </div>
  <div class="chatendheader">
    <div class="chatend">
    <%= link_to "チャットを終了する", room_path(@room) , method: :delete %>
    </div>
  </div>
</div>


<div class= "centerright">
  <%= render partial: "message", collection: @messages %>
 <%#<div class="centerrightall">
    <div class="chatusertime">
      <div class="chatusername">inori
      </div>
      <div class="nowtime">2020/12/14(mon)21:53
      </div>
    </div>
    <div class="messageall">
      <div class="message">おやすみなせ〜
      </div>
    </div>
  </div> 
    
    <div class="centerrightall">
    <div class="chattime">
      <div class="chatusername">inori
      </div>
      <div class="nowtime">2020/12/14(mon)21:53
      </div>
    </div>
    <div class="messageall">
      <div class="message">おやすみなせ〜!
      </div>
    </div>
  </div> %>
</div>

<%# <div class= "underright">
    <div class="typemessage">
      <input class="formmessage" placeholder="type a message">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type= "file" class="hidden">
      </label>
    </div>
    <input class="send" type="submit" value="送信">
    </div>
</div> %>

<%= form_with model: [@room, @message] , class:"underright", local: true do |f| %>
  <div class="typemessage">
    <%= f.text_field :content, class: "formmessage", placeholder: "type a message" %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: "hidden" %>
    </label>
  </div>
  <%= f.submit "送信", class: "send "%>
<% end %>